In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import prepare
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

titanic = pd.read_csv('titanic.csv')

In [3]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [4]:
def prep_titanic(titanic):
        
    drop_columns = ['passenger_id','class','embarked','deck']
    titanic = titanic.drop(columns=drop_columns)

    dummy_name = pd.get_dummies(titanic[['sex','embark_town']], dummy_na=False, drop_first=[True])
    titanic = pd.concat([titanic,dummy_name],axis=1)
    
    return titanic

In [5]:
prep_titanic(titanic)

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,male,22.0,1,0,7.2500,Southampton,0,1,0,1
1,1,1,female,38.0,1,0,71.2833,Cherbourg,0,0,0,0
2,1,3,female,26.0,0,0,7.9250,Southampton,1,0,0,1
3,1,1,female,35.0,1,0,53.1000,Southampton,0,0,0,1
4,0,3,male,35.0,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,Southampton,1,1,0,1
887,1,1,female,19.0,0,0,30.0000,Southampton,1,0,0,1
888,0,3,female,NaN,1,2,23.4500,Southampton,0,0,0,1
889,1,1,male,26.0,0,0,30.0000,Cherbourg,1,1,0,0
890,0,3,male,32.0,0,0,7.7500,Queenstown,1,1,1,0

In [7]:
train_validate, test = train_test_split(titanic, 
                                         test_size=0.2, 
                                        random_state=123, 
                                        stratify=titanic.survived)

train, validate = train_test_split(train_validate, 
                                 test_size=0.3, 
                                   random_state=123, 
                                   stratify=train_validate.survived)

x_train = train.drop(columns=['survived'])
y_train = train.survived

x_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

x_test = test.drop(columns=['survived'])
y_test = test.survived

In [9]:
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [10]:
clf = clf.fit(x_train, y_train)

ValueError: could not convert string to float: 'male'

In [12]:
plt.figure(figsize=(13,7))
plot_tree(clf, feature_names=x_train.columns, class_names=clf.classes_, rounded=True)

AttributeError: 'DecisionTreeClassifier' object has no attribute 'classes_'

In [13]:
#### Make predictions